@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-speed: 1500ms;
  --animation-speed-fast: 250ms;
  --default-cell-bg-color: theme('colors.white');
  --default-cell-border-color: theme('colors.black');
  --default-cell-text-color: theme('colors.black');
  --absent-cell-bg-color: theme('colors.slate.400');
  --correct-cell-bg-color: theme('colors.green.400');
  --present-cell-bg-color: theme('colors.yellow.400');
  --close-cell-bg-color: theme('colors.lime.400');
  --consonant-cell-bg-color: linear-gradient(
    to right,
    theme('colors.green.400') 50%,
    theme('colors.slate.400') 50%
  );
  --vowel-cell-bg-color: linear-gradient(
    to top,
    theme('colors.green.400') 50%,
    theme('colors.slate.400') 50%
  );
}

.dark {
  --default-cell-bg-color: theme('colors.slate.900');
  --default-cell-border-color: theme('colors.white');
  --default-cell-text-color: theme('colors.white');
  --absent-cell-bg-color: theme('colors.slate.700');
  --consonant-cell-bg-color: linear-gradient(
    to right,
    theme('colors.green.400') 50%,
    theme('colors.slate.700') 50%
  );
  --vowel-cell-bg-color: linear-gradient(
    to top,
    theme('colors.green.400') 50%,
    theme('colors.slate.700') 50%
  );
}

.high-contrast {
  --correct-cell-bg-color: theme('colors.orange.400');
  --present-cell-bg-color: theme('colors.cyan.400');
  --close-cell-bg-color: theme('colors.violet.400');
  --consonant-cell-bg-color: linear-gradient(
    to right,
    theme('colors.orange.400') 50%,
    theme('colors.slate.400') 50%
  );
  --vowel-cell-bg-color: linear-gradient(
    to top,
    theme('colors.orange.400') 50%,
    theme('colors.slate.400') 50%
  );
}

.high-contrast.dark {
  --consonant-cell-bg-color: linear-gradient(
    to right,
    theme('colors.orange.400') 50%,
    theme('colors.slate.700') 50%
  );
  --vowel-cell-bg-color: linear-gradient(
    to top,
    theme('colors.orange.400') 50%,
    theme('colors.slate.700') 50%
  );
}

.cell-fill-animation {
  animation: onTypeCell linear;
  animation-duration: 0.35s;
}

.cell-reveal {
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cell-reveal.absent {
  animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
  animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
  animation-name: revealPresentCharCell;
}

.cell-reveal.close {
  animation-name: revealCloseCharCell;
}

.cell-reveal.consonant {
  animation-name: revealConsonantCharCell;
}

.cell-reveal.vowel {
  animation-name: revealVowelCharCell;
}

.cell-reveal > .letter-container {
  animation: offsetLetterFlip 0.35s linear;
  animation-fill-mode: backwards;
}

svg.cursor-pointer {
  transition: all var(--animation-speed-fast);
}

svg.cursor-pointer:hover {
  transform: scale(1.2);
}

.jiggle {
  animation: jiggle linear;
  animation-duration: var(--animation-speed-fast);
}

.wiggle {
  animation: wiggle;
  animation-duration: var(--animation-speed);
  animation-iteration-count: infinite;
}

@keyframes revealAbsentCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--absent-cell-bg-color);
    border-color: var(--absent-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes revealCorrectCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--correct-cell-bg-color);
    border-color: var(--correct-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes revealPresentCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--present-cell-bg-color);
    border-color: var(--present-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes revealCloseCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--close-cell-bg-color);
    border-color: var(--close-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes revealConsonantCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--consonant-cell-bg-color);
    border-color: var(--consonant-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes revealVowelCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50% {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
    color: var(--default-cell-text-color);
  }
  50.1% {
    background-color: var(--vowel-cell-bg-color);
    border-color: var(--vowel-cell-bg-color);
  }
  100% {
    transform: rotateX(180deg);
  }
}

/* Additional animation on the child div to avoid letters turning upside down/snapping back to upright visual glitch */
@keyframes offsetLetterFlip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes onTypeCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.shadowed {
  text-shadow: 1px 1px 1px #000000;
}

@keyframes jiggle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.5rem, 0);
  }
  50% {
    transform: translate(0.5rem, 0);
  }
  75% {
    transform: translate(-0.5rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0) scale(1);
  }
  60% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(0) scale(1.12);
  }
  80% {
    transform: rotate(0) scale(1.1);
  }
  84% {
    transform: rotate(-10deg) scale(1.1);
  }
  88% {
    transform: rotate(10deg) scale(1.1);
  }
  92% {
    transform: rotate(-10deg) scale(1.1);
  }
  96% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.local-font {
  font-family: 'Noto Sans JP', 'Noto Sans CJK JP', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', 'ＭＳ ゴシック', 'MS Gothic', TakaoPGothic, sans-serif;
}

.correct.cell-bg {
  background-color: theme('colors.green.500');
  border-color: theme('colors.green.500');
  color: white;
}

.high-contrast .correct.cell-bg {
  background-color: theme('colors.orange.500');
  border-color: theme('colors.orange.500');
  color: white;
}

.close.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-lime.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.dark .close.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/close-lime.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.high-contrast .close.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.high-contrast.dark .close.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.consonant.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.dark .consonant.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.high-contrast .consonant.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.high-contrast.dark .consonant.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.vowel.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.dark .vowel.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.high-contrast .vowel.cell-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.400');
  color: white;
}

.high-contrast.dark .vowel.cell-bg {
  background-color: theme('colors.slate.700');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-color: theme('colors.slate.700');
  color: white;
}

.present.cell-bg {
  background-color: theme('colors.yellow.500');
  border-color: theme('colors.yellow.500');
  color: white;
}

.high-contrast .present.cell-bg {
  background-color: theme('colors.cyan.500');
  border-color: theme('colors.cyan.500');
  color: white;
}

.absent.cell-bg {
  background-color: theme('colors.gray.400');
  border-color: theme('colors.slate.400');
  color: white;
}

.dark .absent.cell-bg {
  background-color: theme('colors.slate.700');
  border-color: theme('colors.slate.700');
  color: white;
}

.correct.key-bg {
  background-color: theme('colors.green.500');
  color: white;
}

.correct.key-bg:hover {
  background-color: theme('colors.green.600');
  color: white;
}

.correct.key-bg:active {
  background-color: theme('colors.green.700');
  color: white;
}

.high-contrast .correct.key-bg {
  background-color: theme('colors.orange.500');
  color: white;
}

.high-contrast .correct.key-bg:hover {
  background-color: theme('colors.orange.600');
  color: white;
}

.high-contrast .correct.key-bg:active {
  background-color: theme('colors.orange.700');
  color: white;
}

.consonant.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.consonant.key-bg:hover,
.consonant.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.dark .consonant.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.dark .consonant.key-bg:hover,
.dark .consonant.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/consonant-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast .consonant.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast .consonant.key-bg:hover,
.high-contrast .consonant.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast.dark .consonant.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast.dark .consonant.key-bg:hover,
.high-contrast.dark .consonant.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/consonant-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.vowel.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.vowel.key-bg:hover,
.vowel.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.dark .vowel.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.dark .vowel.key-bg:hover,
.dark .vowel.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/vowel-green.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast .vowel.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast .vowel.key-bg:hover,
.high-contrast .vowel.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast.dark .vowel.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast.dark .vowel.key-bg:hover,
.high-contrast.dark .vowel.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/vowel-orange.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.close.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-lime.svg');
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.close.key-bg:hover,
.close.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-lime.svg');
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.dark .close.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/close-lime.svg');
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.dark .close.key-bg:hover,
.dark .close.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/close-lime.svg');
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast .close.key-bg {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast .close.key-bg:hover,
.high-contrast .close.key-bg:active {
  background-color: theme('colors.gray.400');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.high-contrast.dark .close.key-bg {
  background-color: theme('colors.slate.800');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
}

.high-contrast.dark .close.key-bg:hover,
.high-contrast.dark .close.key-bg:active {
  background-color: theme('colors.slate.800');
  background-image: url('./images/close-violet.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.present.key-bg {
  background-color: theme('colors.yellow.500');
  color: white;
}

.present.key-bg:hover {
  background-color: theme('colors.yellow.600');
  color: white;
}

.present.key-bg:active {
  background-color: theme('colors.yellow.700');
  color: white;
}

.high-contrast .present.key-bg {
  background-color: theme('colors.cyan.500');
  color: white;
}

.high-contrast .present.key-bg:hover {
  background-color: theme('colors.cyan.600');
  color: white;
}

.high-contrast .present.key-bg:active {
  background-color: theme('colors.cyan.700');
  color: white;
}

.absent.key-bg {
  background-color: theme('colors.gray.400');
  color: white;
}

.dark .absent.key-bg {
  background-color: theme('colors.slate.800');
  color: white;
}

/* Date picker */

.react-datepicker {
  @apply h-72;
}

.react-datepicker__input-container input {
  @apply form-input block w-full rounded border border-gray-300 bg-white text-base shadow-sm md:text-sm;
}

.react-datepicker-popper {
  @apply z-40 w-72 rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute top-12 right-0 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800 dark:text-gray-100;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-center text-xs font-medium text-gray-400 dark:text-gray-500;
}

.react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-1;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1 text-sm leading-loose text-gray-700 transition dark:text-gray-200;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300 dark:text-gray-600;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-green-200;
}

.react-datepicker__day--selecting-range-start {
  @apply border-2 border-green-500 bg-white;
}

.react-datepicker__day--selecting-range-end {
  @apply border-2 border-green-500 bg-white;
}

.react-datepicker__day--selected {
  @apply bg-green-500 text-white dark:text-white;
}

.react-datepicker__day--range-start {
  @apply bg-green-500 text-white hover:bg-white hover:text-gray-700;
}

.react-datepicker__day--range-end {
  @apply bg-green-500 text-white hover:bg-white hover:text-gray-700;
}
