@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-fill-animation {
  animation: onTypeCell linear;
  animation-duration: 0.35s;
}

.cell-reveal {
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cell-reveal.absent {
  animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
  animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
  animation-name: revealPresentCharCell;
}

.cell-reveal > .letter-container {
  animation: offsetLetterFlip 0.35s linear;
  animation-fill-mode: backwards;
}

@keyframes revealAbsentCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: theme('colors.slate.400');
    border-color: theme('colors.slate.400');
  }
  100% {
    transform: rotateX(180deg);
    background-color: theme('colors.slate.400');
    border-color: theme('colors.slate.400');
  }
}

@keyframes revealCorrectCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: theme('colors.slate.400');
    border-color: theme('colors.slate.400');
  }
  100% {
    transform: rotateX(180deg);
    background-color: theme('colors.green.400');
    border-color: theme('colors.green.400');
  }
}

@keyframes revealPresentCharCell {
  0% {
    transform: rotateX(0deg);
    background-color: theme('colors.slate.400');
    border-color: theme('colors.slate.400');
  }
  100% {
    transform: rotateX(180deg);
    background-color: theme('colors.yellow.400');
    border-color: theme('colors.yellow.400');
  }
}

/* Additional animation on the child div to avoid letters turning upside down/snapping back to upright visual glitch */
@keyframes offsetLetterFlip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes onTypeCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.shadowed {
  text-shadow: 1px 1px 1px #000000;
}
